body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header{
    background-color: #B6A9F7;
    padding-bottom: 14px;
}

.top-header{
    margin-bottom: 10px;
    height: 100px;
    display: flex;
    align-items: center;
}

.text-center{
    color: white;
    margin-left: 150px;
    user-select: none;
}

.home-logo{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.search_img {
  width: 30px;
  height: 30px;
  margin-top: 2px;
  margin-right: -3px;
}

.row .col-6 {
    max-width: 400px;
}

.search-form {
  margin: 0 auto;
}

.top-header .col-6 {
  margin-left: 100px;
}

.input-group {
  height: 35px;
  justify-content: space-between;
  align-content: center;
  border-radius: 1rem;
  background-color: white;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group-text {
  background-color: white;
}

.search_btn {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 1rem;
}

.input_search {
  display: block;
  width: 90%;
  height: 35px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: none;
  outline: none;
  margin-right: -15px;
  border-radius: 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  overflow: hidden;
}

.search_img{
  transition: 0.3s;
  border-radius: 1rem;
  background-color: white;
}

.search_img:hover{
  filter: invert(1);
  background-color: #b7babd;
}

.btn-group{
    height: 30px;
}

.lang_container{
  height: 30px;
  margin-left: 50px;
  border: solid #495057;
  border-radius: 1rem;
  border-width: 0.15rem;
  overflow: hidden;
}

.lang_btn{
  background-color: #B6A9F7;
  border: none;
  width: 42px;
  height: 26px;
  font-size: 1rem;
  font-weight:500;
  transition: 0.4s;
}

.vl {
  border-left: 0.15rem solid #495057;
  height: 30px;
}

.lang_btn:hover{
  background-color: #897cc7;
  color: white;
  border: none;
}

.shopping_basket{
  height: 30px;
  margin-left: 30px;
  transition: 0.3s;
}

.shopping_basket:hover{
  filter: invert(1);
  cursor: pointer;
}

.sign_container{
  width: 42px;
  height: 35px;
  margin-left: 30px;
  font-size: 1.15rem;
  font-weight: 500;
}

.sign_vl{
  margin: 5px 5px 0 5px;
  border-left: 0.15rem solid white;
  height: 17px;
}

.sign{
  color: white;
  text-decoration: none;
}

.sign:hover{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.text-white{
  text-decoration: none;
}

.cattegories_container{
  height: 20px;
  margin-top: -25px;
}

.cattegories_vl{
  border-left: 0.15rem solid #675e92;
  height: 28px;
}

.cattegorie_btn{
  background-color: #B6A9F7;
  border: none;
  height: 28px;
  font-size: 1.1rem;
  font-weight:500;
  font-family: 'Nunito', sans-serif;
  transition: 0.4s;
  white-space: nowrap;
}

.cattegorie_btn a:hover{
  text-decoration: none;
}

.cattegorie_btn:hover{
  background-color: #675e92;
  outline: 0 !important;
}


.first_slider {
  margin-top: 10px;
}

.gallery-cell {
  margin-right: 100px;
}

.gallery-cell img{
  border-radius: 1.5rem;
}

.сlothes-grid{
  padding-top: 70px;
  height: 100vh;
}

.main-clothes{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 34px;
}

.clothes-image {
  height: 260px;
  object-fit: cover;
}

.clothes-details {
  margin-top: 5px;
  max-width: 177px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.clothes-price {
  font-size: 18px;
  font-weight: 500;
}

.clothes-description {
  font-size: 14px;
  margin-top: 10px;
  max-width: 170px;
}

.clothes-size {
  font-style: italic;
  color: #888;
}

.сlothes-grid img{
  border-radius: 1.5rem;
}

footer{
  /* margin-top: auto;   */
}

.footer_position{
  padding-top: 30px;
  padding-bottom: 30px; 
}

.footer-text{
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 500;
}

.footer-text-a{
  color: rgb(180, 177, 177);
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

.footer-text-a:hover{
  color: rgb(255, 254, 254);
  text-decoration: none;
}

.footer_h5{
  font-size: 21px;
}

.payment_block{
  margin-left: -80px;
}

.payment-foto_visa{
  width: 60px;

}

.payment-foto_mastercard{
  width: 60px;
}

.payment-foto_google-pay{
  width: 70px;
}

.payment-foto_apple-pay{
  width: 60px;
}

.payment-methods-background{
  border-radius: 0 2rem 2rem 2rem;
  max-height: 130px;
}

.payment-methods .col-6{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 0;
}

.social_networks a{
  text-decoration: none;
  margin-right: 15px;
}

.bi{
  transition: 0.3s;
}

.bi:hover{
  fill: rgb(150, 147, 147);
  cursor: pointer;
}


.about-us_h5{
  margin-left: 40px;
}

.social_networks{
  margin-left:
   40px;
}