body{
  background-color: #b7babd;
}

header{
    background-color: #B6A9F7;
    padding-bottom: 14px;
}

.top-header{
    margin-bottom: 10px;
    height: 100px;
    display: flex;
    align-items: center;
}

.text-center{
    color: white;
    margin-left: 150px;
    user-select: none;
}

.home-logo{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.search_img {
  width: 30px;
  height: 30px;
  margin-top: 2px;
  margin-right: -3px;
}

.row .col-6 {
    max-width: 400px;
}

.search-form {
  margin: 0 auto;
}

.top-header .col-6 {
  margin-left: 100px;
}

.input-group {
  height: 35px;
  justify-content: space-between;
  align-content: center;
  border-radius: 1rem;
  background-color: white;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group-text {
  background-color: white;
}

.search_btn {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 1rem;
}

.input_search {
  display: block;
  width: 90%;
  height: 35px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: none;
  outline: none;
  margin-right: -15px;
  border-radius: 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  overflow: hidden;
}

.search_img{
  transition: 0.3s;
  border-radius: 1rem;
  background-color: white;
}

.search_img:hover{
  filter: invert(1);
  background-color: #b7babd;
}

.btn-group{
    height: 30px;
}

.lang_container{
  height: 30px;
  margin-left: 50px;
  border: solid #495057;
  border-radius: 1rem;
  border-width: 0.15rem;
  overflow: hidden;
}

.lang_btn{
  background-color: #B6A9F7;
  border: none;
  width: 42px;
  height: 26px;
  font-size: 1rem;
  font-weight:500;
  transition: 0.4s;
}

.vl {
  border-left: 0.15rem solid #495057;
  height: 30px;
}

.lang_btn:hover{
  background-color: #897cc7;
  color: white;
  border: none;
}

.shopping_basket{
  height: 30px;
  margin-left: 30px;
  transition: 0.3s;
}

.shopping_basket:hover{
  filter: invert(1);
  cursor: pointer;
}

.sign_container{
  width: 42px;
  height: 35px;
  margin-left: 30px;
  font-size: 1.15rem;
  font-weight: 500;
}

.sign_vl{
  margin: 5px 5px 0 5px;
  border-left: 0.15rem solid white;
  height: 17px;
}

.sign{
  color: white;
  text-decoration: none;
}

.sign:hover{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.text-white{
  text-decoration: none;
}

.cattegories_container{
  height: 20px;
  margin-top: -25px;
}

.cattegories_vl{
  border-left: 0.15rem solid #675e92;
  height: 28px;
}

.cattegorie_btn{
  background-color: #B6A9F7;
  border: none;
  height: 28px;
  font-size: 1.1rem;
  font-weight:500;
  font-family: 'Nunito', sans-serif;
  transition: 0.4s;
  white-space: nowrap;
}

.cattegorie_btn a:hover{
  text-decoration: none;
}

.cattegorie_btn:hover{
  background-color: #675e92;
  outline: 0 !important;
}
